

body {
    background-color: #fff3ee;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;




}




h1 {
    position: relative;
    padding: 0.5em;
    background: #a4aefb;
    color: #000000;


}

@keyframes floatImg {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

h1::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
}


.bg {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px #000c4212;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding: 30px 45px;



}

.bg img {
    background-color: burlywood;
    padding: 15px 20px;
    border: 3px dashed #000;

    position: relative;

    animation: floatImg 3s ease-in-out infinite;

}


.bg h2 {
    border-top: solid #1e366a 2px;
    font-size: 25px;

}




.list-1 {


    background: #f1f8ff;
    box-shadow: 0px 0px 0px 10px #f1f8ff;
    border: dashed 2px #668ad8;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5em 0.5em 0.5em 2em;
}


.list-1 {


    line-height: 1.5;
    padding: 0.5em 0;
}


.list-2 {




    background: #ffeedc;
    box-shadow: 0px 0px 0px 10px #ffeedc;
    border: dashed 2px #ff952b;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5em 0.5em 0.5em 2em;
}


.list-2 {
    line-height: 1.5;
    padding: 0.5em 0;
}




ol {
    counter-reset: number;
    list-style-type: none !important;
    padding: 0.3em 0.8em;
    border: solid 2px #1e9e12;
}


ol li {
    border-bottom: dashed 1px #1e9e12;
    position: relative;
    padding: 0.5em 0.5em 0.5em 30px;
    line-height: 1.5em;
}


ol li:before {

    position: absolute;
    counter-increment: number;
    content: counter(number);

    display: inline-block;
    background: #1e9e12;
    color: white;
    font-family: 'Avenir', 'Arial Black', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;

    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


ol li:last-of-type {
    border-bottom: none;
}


li {
    font-size: 18px;


}


.last {


    border-bottom: solid #1e366a 2px;
    padding-bottom: 20px;
}





